#app {
    text-align: center;
    font-family: 'Open Sans', sans-serif;
    font-size: 5em;
    color: white;

    display: flex;
    flex-direction: column;
    justify-content: center;
    min-height: 100vh;
}
